<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.taehun.boardChat.mapper.PostMapper">

	<!-- 게시글 작성 -->
	<insert id="insert" parameterType="com.taehun.boardChat.dto.Post">
		INSERT INTO posts(id, title, category, content, writer, password, ctime)
		VALUES(#{id}, #{title}, #{category}, #{content}, #{writer}, #{password}, NOW())
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM posts
		WHERE id = #{id}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="com.taehun.boardChat.dto.Post">
		UPDATE posts
		SET
			<if test="title != null and content != null and password != null">
				title = #{title},
				content = #{content},
				category = #{category},
				password = #{password},
				mtime = NOW()
			</if>
		WHERE id = #{id}
	</update>
	
	<!-- 게시글 개수 -->
	<select id="count" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM posts
			<include refid="search"></include>
	</select>
	
	<!-- 게시글 일반 조회 (공지용) -->
	<select id="selectNotice" resultType="com.taehun.boardChat.dto.Post">
		SELECT id, title, category, content, writer, password, 
			IF(date(ctime) = date(NOW()), DATE_FORMAT(ctime, "%H:%i"), DATE_FORMAT(ctime, "%Y.%m.%d")) AS ctime FROM posts
		WHERE category = 'notice'
		ORDER BY id DESC
	</select>
	
	<!-- 게시글 조회 (게시글 용)-->
	<select id="select" parameterType="map" resultType="com.taehun.boardChat.dto.Post">
		SELECT * FROM posts
			<include refid="search"></include>
		ORDER BY id DESC
		LIMIT #{topPostNum}, #{bottomPostNum}
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectDetail" parameterType="int" resultType="com.taehun.boardChat.dto.Post">
		SELECT * FROM posts
		WHERE id = #{id}
	</select>
	
	
	<!-- SQL 코드 조각 -->
	<sql id="search">
		
		<where>
			<!-- 카테고리 옵션이 전체가 아닐 경우 (선택한 경우) -->
			<if test="category != 'all'">
				category = #{category}
			</if>
			<choose>
				<!-- 검색 옵션이 전체일 경우 -->
				<when test="option == 'all'">
					AND (writer LIKE CONCAT('%', #{search}, '%')		<!-- sql 문법에는 맞지 않으나 MyBatis에서 자동으로 삭제해줌. -->
					OR content LIKE CONCAT('%', #{search}, '%')
					OR title LIKE CONCAT('%', #{search}, '%'))
				</when>
				<!-- 전체 검색이 아닐 경우 -->
				<otherwise>
					AND ${option} LIKE CONCAT('%',#{search},'%')	<!-- sql 문법에는 맞지 않으나 MyBatis에서 자동으로 삭제해줌. -->
				</otherwise>
			</choose>
		</where>
	</sql>
	
</mapper>